<div class="flex h-screen">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "bg-darkSecondary shadow-md text-white font-bold rounded-lg px-8 pt-6 pb-8 m-auto w-modal"}) do |f| %>

    <h2 class="text-center text-2xl mb-6">Sign Up</h2>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="mb-4">
      <%= f.label(:email, { class: "block pl-8 text-white text-sm font-bold mb-2"}) %>
      <%= f.email_field(:email, autofocus: true, autocomplete: "email", class: "shadow appearance-none rounded-full w-full py-2 px-8 text-white bg-darkPrincipal leading-tight focus:outline-none focus:shadow-outline") %>
    </div>

    <div class="mb-6">
      <div class="flex">
        <%= f.label(:password, { class: "block pl-8 text-white text-sm font-bold mb-2"}) %>
        <% if @minimum_password_length %>
        <em class="text-sm font-normal ml-2">(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
      </div>
      <%= f.password_field(:password, autocomplete: "new-password", class: "shadow appearance-none rounded-full w-full py-2 px-8 text-white bg-darkPrincipal mb-3 leading-tight focus:outline-none focus:shadow-outline") %>
    </div>

    <div class="mb-6">
      <%= f.label(:password_confirmation, { class: "block pl-8 text-white text-sm font-bold mb-2"}) %>
      <%= f.password_field(:password_confirmation, autocomplete: "new-password", class: "shadow appearance-none rounded-full w-full py-2 px-8 text-white bg-darkPrincipal mb-3 leading-tight focus:outline-none focus:shadow-outline") %>
    </div>

    <div class="text-center">
      <%= f.submit("Sign In", class: "bg-pinkPrincipal mb-2 text-white py-2 px-4 w-full rounded-full focus:outline-none focus:shadow-outline font-bold") %>
      <%= link_to("Sign In", new_session_path(resource_name), class: "block align-baseline font-bold text-sm text-pinkPrincipal") %>
    </div>
<% end %>
</div>