<div class="flex h-screen">
<%= form_for(@movie, html: { method: :post, class: "bg-white shadow-md rounded-lg px-8 pt-6 pb-8 m-auto xl:w-1/3 w-1/2"} ) do |f| %>
  <h2 class="text-center text-lg mb-6">Add a Movie</h2>

  <div class="mb-2">
    <%= f.label(:title, { class: "block text-gray-700 text-sm font-bold mb-2" }) %>
    <%= f.text_field(:title, class: "shadow appearance-none border border-red-500 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline") %>
  </div>

  <div class="mb-2">
    <%= f.label(:year, { class: "block text-gray-700 text-sm font-bold mb-2" }) %>
    <%= f.text_field(:year, class: "shadow appearance-none border border-red-500 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline") %>
  </div>

  <div class="mb-2">
    <%= f.label(:genre, { class: "block text-gray-700 text-sm font-bold mb-2" }) %>
    <%= f.text_field(:genre, class: "shadow appearance-none border border-red-500 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline") %>
  </div>

  <div class="mb-2">
    <%= f.label(:plot, { class: "block text-gray-700 text-sm font-bold mb-2" }) %>
    <%= f.text_field(:plot, class: "shadow appearance-none border border-red-500 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline") %>
  </div>

  <div class="mb-2">
    <%= f.label(:director, { class: "block text-gray-700 text-sm font-bold mb-2" }) %>
    <%= f.text_field(:director, class: "shadow appearance-none border border-red-500 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline") %>
  </div>

  <div class="mb-2">
    <%= f.label(:poster, { class: "block text-gray-700 text-sm font-bold mb-2" }) %>
    <%= f.text_field(:poster, class: "shadow appearance-none border border-red-500 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline") %>
  </div>

  <div class="mb-2">
    <%= f.label(:actors, { class: "block text-gray-700 text-sm font-bold mb-2" }) %>
    <%= f.text_field(:actors, class: "shadow appearance-none border border-red-500 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline") %>
  </div>

  <div class="mb-2">
    <%= f.label(:runtime, { class: "block text-gray-700 text-sm font-bold mb-2" }) %>
    <%= f.text_field(:runtime, class: "shadow appearance-none border border-red-500 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline") %>
  </div>

  <div class="text-center mt-2">
    <div class="actions mb-4 bg-blue-500 hover:bg-blue-700 text-white  py-2 px-4 rounded focus:outline-none focus:shadow-outline">
      <%= f.submit("Save movie", class: "bg-transparent font-bold") %>
    </div>
  </div>
<% end %>
</div>
