<div class="w-full px-32 py-12">
  <div class="flex">
    <div class="w-1/6 px-12 py-10">
      <img src="<%= @movie.poster%>" class="w-full" alt="<%= @movie.title %>"/>
    </div>
    <div class="w-1/3 my-auto py-12 text-md">
      <h2 class="text-2xl text-white mb-4 uppercase"><%= @movie.title%></h2>
      <div>
        <p class="text-gray-400"><%= @movie.year%> | <%= @movie.genre %></p>
      </div>
      <div>
        <p class="mt-5 text-gray-400">Director: <%= @movie.director %></p>
        <p class="text-gray-400">Actors: <%= @movie.actors %></p>
      </div>
      <div class="mt-5">
        <p class="text-lg text-gray-400"><%= @movie.plot %></p>
      </div>
    </div>
  </div>
  <div class="px-12 py-10">
    <div class="w-full flex p-3 bg-darkThird">
      <%= image_tag "user.svg", alt: "user", width: 24, height: 24 %>
      <h3 class="ml-4 text-white font-bold text-md text-darkText">Owners list</h3>
    </div>
    <% if @movie.user.length == 0 %>
      <p> No user </p>
    <% else %>
      <% @movie.user.each do |user| %>
        <div class="w-full p-5 border-b-2 border-darkThird">
          <div class="px-4 flex justify-between">
            <p class="text-md text-white my-auto"><%= user.firstname %> <%= user.lastname %></p>
            <%= link_to borrows_new_path(user_id: user.id, movie_id: @movie), class:'card w-1/6' do %>
              <button class="rounded-full py-2 px-4 text-white bg-pinkPrincipal">Ask a borrow</button>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>