<div class="flex flex-col text-white">
    <p>Ask to borrow a movie</p>

    <% @movie.each do |movie| %>
        <p class="text-md text-white my-auto"><%= movie.title %> </p>
    <% end %>

    <% @user.each do |user| %>
        <p class="text-md text-white my-auto"><%= user.firstname %> <%= user.lastname %> </p>
    <% end %>
</div>

<%= form_tag "/ask-borrow", method: "post" do %>
  <input type="hidden" name="movie_id" value="<%= @movie[0].id %>" />
  <input type="date" name="deadline" />
  <input type="submit" value="Ask the movie" />
<% end %>